<div class="container">
	<div class = "row">
		<div class = "col-xs-12">
			{{!-- Jumobtron --}}
			<div class="jumbotron text-center">
			  <h1 class="display-3">Read Some Tech News!</h1>
			  <h2 class="lead">Click the Scrape Button to Get the Latest Tech Articles on Reddit</h2>
			  <hr class="my-4">
			  <p class="lead">

			    <a href="/scrape">
			    	<button class="btn btn-primary btn-lg">Scrape!</button>
			    </a>

			    <a href="/view-scrapes">
			    	<button class="btn btn-primary btn-lg">View Existing Scrapes</button>
			    </a>

			  </p>
			</div>
		</div>
	</div>

	<div class = "row">
		<div class = "col-xs-8">
			{{!-- articles --}}
		</div>

		<div class = "col-xs-4">
			{{!-- comments --}}
		</div>

	</div>
	
</div>